/* CSS Document */
*
{
	margin:0px 0px 0px 192px;
	padding:0px;
	list-style:none;
}
body, img, fieldset, form
{
    margin: 0 auto;
    padding: 0;
    border: 0;
}
body, select, textarea, input
{
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    color: #303030;
    line-height: 16px;
}
body
{
    text-align: center;
}
a
{
    color: #003399;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
p
{
    margin: 0 0 8px 0;
}

.header
{
	
	height: 77px;
}
.toppage
{
	background-image:url(images/footer.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	
	padding-left: 195px;
	height:190px;
	text-align: left;
}
.logo
{
	float: left;
	
	height:41px;
	margin-left: 210px;
	padding-left:0px;
}
.dang_nhap
{
	float:right;
	width: 300px; 
	text-align: right;
	margin-right: 200px;
	padding-right: 10px;
}

.button {
	padding: 10px 25px 10px 20px;
 	background:url(images/btndangnahap.png) no-repeat;
	color: #990000;
 	font-size:15px;
}
.menu{
	margin: 0 auto;
	padding:0;
	height: 43px;
	}
.menu li {
	display:block;
	float: left;
	}

.menu ul {
	margin: auto 200px;
	padding: 0;
	list-style: none;
}

.menu a {
	display: block;
	height: 35px;
	padding: 16px 40px 0px 40px;
	margin-right: 1px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}
 .menu .current_item a {
	background: url(images/img05.gif) repeat-x left top;
	text-decoration: none;
	color: #1437AD;
}
.menu a:hover
{
background: url(images/img05.gif) repeat-x left top;
	text-decoration: none;
	color: #FFFFFF;
}

.menu
{
	background-color:#CCCCCC;
	border-top: 1px #FFFFFF;
	height: 51px;
}

.clear
{
	clear:both;
}
.ad_top
{
	background: url(images/BANNER%20(3).jpg) no-repeat;
	width: 960px;
	height: 95px;
	margin: 5px auto 0;
	padding: 0px;
}
.main
{
	clear:both;
	padding:0px;
	margin: 10px auto;
	width: 960px;
}
.left_main
{
	float:left;
	width: 700px;
	text-align:left;
	height: 800px;
}
.row
{
	width:30px;
	border:1;
}
.right_main
{
	float:right;
	width:260px;
	height: 800px
}
.right_main form
{
	text-align:right;
}
.Title {
font-family: 'Times New Roman';
font-size: 25pt;
font-weight: bold;
margin-top: 0;
}
.Lead {
font-family: 'Times New Roman';
font-size: 12pt;
color: #5F5F5F;
font-weight: bold;
}

.Normal {
font-family: 'Times New Roman';
font-size: 11.8pt;
color: black;
}
.footer
{
	background:url(images/footer.PNG) no-repeat;
	background-color:#CCCCCC;
	margin: 10px auto;
	width: 960px;
	height: 89px;
	text-align: left;
	text-align:center;
}
.1 {
float:left;
width:600px;

}
body
{
	margin: 0 auto;
    padding: 0;
    border: 0;
}
.leftColumn
{
   float:left;
	width: 480px;
	text-align:left;
	height: 800px;
}
.rightColumn
{
   float:right;
	width:480px;
	height: 800px
}
.commmet
{
	
}
