@charset "utf-8";
/* CSS Document */
a {
	color:#0000CC;
	font-size:12px;
	text-decoration: none;
}
body {
	background: #666666;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
}
.MainBody #container {
	width: 900px;
	background:#F8F8F8;
	border: 1px solid #000000;
	text-align: left;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.MainBody #header {
	background:#EBEBEB;
	padding: 0 10px;
	height: 185px;
}
.MainBody #header h1 {
	margin: 0;
	padding: 10px 0;
}
.MainBody #banner {
	height: 96px;
	background: url(..//images/mainheader_content.png) repeat-x top left;
	text-align: left;
}
.MainBody #logo {
	float: left;
	width: 365px;
	font-size: 1px;
}

.MainBody #menu {
	background-image:url(../images/bgmn.png);
	height:25px;

	color:#FFFFFF;
	font-weight:bold;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:6px;
	clear:both;
	border-radius:8px}

.MainBody #menu_right {
	float: right;
	width: 515px;
	height: 96px;
	background:url(../images/mainheader_content.png) repeat-x;
	color:#FFFFFF;
	
}
.MainBody #menu_right a{
	color:#FFFFFF;
	font-size:14px;
}
.MainBody #menumain {
	float: right;
	width: 515px;
	padding: 17px 15px 15px 17px;
	text-align: left;
}
.MainBody #profilemenu {
	float: right;
	width: 515px;
	text-align: left;
	padding: 0 0 0 0;
	color:#FFFFFF;
}
.MainBody .menumainItem {
	margin: 15px 32px 15px 0;
	padding: 0;
	float: right;
	width: 70px;
}
.MainBody .profilemenuItem {
	padding: 0;
	float: right;
	width: 120px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 0;
}
/* Tips for left:*/
.MainBody #left {
	float: left;
	width: 200px;
	background: #EBEBEB;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0;
}
/* Tips for mainContent*/
.MainBody #mainContent {
	width: 680px;
	margin-top: 0;
	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 210px;
	padding-top:20px;
	
}


.MainBody #footer {
	padding: 0 10px;
	background:#DDDDDD;
	width:880px;
}
.MainBody #footer p {
	margin: 0;
	padding: 10px 0;
	text-align:right;
}
.MainBody #subtotal {
	display:block;
	width:100px;
	float: right;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 5px;
}
.MainBody #search {
	width: 880px;
	float: left;
	
}
.MainBody #account {
	width:auto;
	float: right;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

/*categori*/
#categories h2 {
	color: #fff;
	padding: 4px 0 5px 39px;
	background: #847A67;
}
#categories li {
	margin-left: 0px;
	background: #D4CAB6 left url(../images/bullet.gif) no-repeat;
	border-top: 1px solid #F4EFDF;
	list-style: none;
	font-size: 12px;
	padding: 7px 0 8px 35px;
}
#categories a {
	text-decoration: none;
	color: #000000;
}
#categories a:hover {
	text-decoration: underline;
}
/**/
	
#slider ul, #slider li {
	margin: auto;
	list-style:none;
}
#slider li {
	display: list-item;
	margin: auto;
	width:500px;
	height:190px;
}
.ad_top
{
	
	width: 500px;
	height: 190px;
	margin: auto;
	padding: 0px;
	position:relative;
}

/* array products*/
#black-bl {
	padding: 10px 10px 10px 10px;
	position: relative;
}

.black-box {
	float: left;
	width: 180px;
	margin: 10px 10px 10px 10px;
	background:#EFEFEF;
	padding: 5px 5px 5px 5px;
}
.black-box h2 {
	font-size: 13px;
	font-weight: normal;
}
.black-box h2 em {
	font-size: 2px;
	font-family: serif;
}
.black-box .more {
	color: red;
}

/*css for danhsach site*/
.danhsach{
	height:150px;
	margin-top: 10px;
}

.danhsach #hinhanh{
	background-color:#FFF;
	border: 1px solid;
	height:150px;
	width:24%;
	float:left;
	border-radius: 5px 0px 0px 5px;
	position:relative;
}
.danhsach div#hinhanh a img{
	position:absolute;
	margin:20px 20px;
}
.danhsach div#chitiet{
	background-color:#F3F3F3;
	border-style:solid;
	border-width:1px;
	height:150px;
	width:50%;
	float:left;
}
.danhsach div#chitiet p{
	padding-left:10px;
}

.danhsach #gia{
	border-style:solid;
	border-width:1px;
	height:150px;
	width:25%;
	float:left;
	border-radius: 0px 5px 5px 0px;
	text-align:center;
}

#gia p{
	padding-top:50px;
	vertical-align:middle;

}


/*help */

#tab h2 {
color:#000099;
}
.usual ul a.selected {
margin-bottom: 0;
color: black;
background: #00CC00;
border-bottom: 1px solid snow;
cursor: default;
}

.usual ul a {
display: block;
padding: 6px 10px;
text-decoration: none!important;
margin: 1px;
margin-left: 0;
font: 14px Verdana;
color: white;
background: #444;
}
.usual ul {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
.usual li {
list-style: none;
float: left;
}

.usual div {
padding: 10px 30px 8px 10px;
clear: right;
font: 10pt Georgia;
}



/*css for TimKiem*/
.clearfloat1 {
	clear:none;
	height:0;
	font-size: 1px;
	line-height: 10px;
}
	
#WrapperLookup{
	border: 1px solid;
}
