.DangNhap {
	font-size: 16px;
	text-transform: capitalize;
	color: #FFF;
	font-weight: bold;
	text-align:center;
	background-color: #9C9;
	border-right-style: solid;
	border-right-color: #9F3;
}
.DangKi {
	font-size: 16px;
	text-transform: capitalize;
	color: #FFF;
	font-weight: bold;
	text-align:center;
	background-color: #9C9;
}

.Footer {
	background-color: #F90;
	font-size: 16px;
	text-align:center;
	font-weight: 100;
}

.Find {
	font-size: 16px;
	color: #FFF;
	text-align:center;
	background-color: #F90;
}
.Header {
	background-color: #F90;
}

.MenuNgang {
	font-size: 16px;
	font-weight: 300;
	color: #FFF;
	text-align:center;
	background-color: #F90;
	border-right-style: dotted;
	border-right-color: #30F;
}
.MenuDoc {
	font-size: 16px;
	font-weight: 300;
	color: #FFF;
	text-align:center;
	background-color: #9C9;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
}
.SanPham {
	border: thin solid #03F;
}
