<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="googleappEntities" connectionString="metadata=res://*/googledataentity.csdl|res://*/googledataentity.ssdl|res://*/googledataentity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=googleapp;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="googleappEntities1" connectionString="metadata=res://*/googlemodel.csdl|res://*/googlemodel.ssdl|res://*/googlemodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=googleapp;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="googleappEntities2" connectionString="metadata=res://*/googlemodel.csdl|res://*/googlemodel.ssdl|res://*/googlemodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=googleapp;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="googleappConnectionString" connectionString="Data Source=.;Initial Catalog=googleapp;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="googleappConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\googleapp.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>